<section class="cart_container">
  <h1>Cart</h1>
  <a href="/views/products"><button>Ir a productos</button></a>
  <a href="/views/cart/{{cid}}"><button data-custom="{{cid}}"class="cleanCart">Limpiar Carrito</button></a>

  <h3>Products in cart</h3>
  {{#each products}}
  <div>
    <p>{{this.product.title}}</p>
    <span>${{this.product.price}} x {{this.quantity}} Unidades</span>
  </div>
  {{/each}}

</section>

<script src="/js/helperCart.js"></script>