<div>
    <h1>LISTA DE PRODUCTOS</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Code</th>
                <th>Price</th>
                <th>Status</th>
                <th>Stock</th>
                <th>Category</th>
                <th>ID</th>
                <th>agregar al Carrito</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.code}}</td>
                <td>{{this.price}}</td>
                <td>{{this.status}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>{{this._id}}</td>
                <td><input type="button" id="btnagregar{{this._id}}" value="Agregar al Carrito"></input></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{#if hasPrevPage}}
    <a href="/views?limit={{limit}}&page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}

     {{#if hasNextPage}}
    <a href="/views?limit={{limit}}&page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
</div>